.swiper-wrapper {
  padding: 25px 0;

  .swiper-slide:hover {
    transform: scale(1.2) !important;
  }

  &:hover .swiper-slide {
    transform: translateX(-10%);
  }

  .swiper-slide:hover ~ .swiper-slide {
    transform: translateX(10%);
  }
}
