.app {
  text-align: center;
}

.app-section {
  background-color: #004e64;
  min-height: 100vh;
  flex-direction: column;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 20px;
}

.close {
  position: fixed;
  border: none;
  background: transparent;
  top: 30px;
  right: 50px;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 50vh;
  min-width: 65%;
  max-width: 70vw;
  padding: 1.5em;
  border-radius: 5px;
}

@media (max-width: 420px) {
  .form {
    padding: 0;
  }
}

textarea {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
  resize: none;
  border: none;
  outline: none;
  border-bottom: 3px solid #fff;
  color: #eee;
  font-size: 1em;
  transition: all 0.15s ease-in-out;
}

textarea:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

textarea:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

textarea::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

img {
  padding: 10px;
}

.btn-group {
  width: 100%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btn-group button {
  background-color: rgba(0, 0, 0, 0.1);
  min-width: 80px;
  width: 10vw;
  border: none;
  padding: 1rem;
  cursor: pointer;
}

.btn-group button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.submit {
  margin-top: 5em;
  padding: 1.3em;
  width: 10vw;
  min-width: 100px;
  background-color: #3066be;
  color: white;
  cursor: pointer;
  border: none;
  font-size: 15px;
  border-radius: 5px;
}

.submit:hover {
  background-color: #03a9f4;
}
